/*
.features {
  &__container {
    display: grid;
    grid-template: 'features-header' 45px 'headline' 'card-list' 'button';
    grid-template-columns: 1fr;
    align-items: start;

    @include respond-to(tab-port) {
      grid-template: 'features-header card-list' 'headline card-list' 'button card-list' '. card-list';
      grid-template-columns: 38.1% auto;
      grid-column-gap: 7.8%;
      border: 1px solid $section-features-border-color;
      border: solid 1.2px $cod-gray-20;
      border-radius: 2px;

      //grid-template-columns: 38.1% auto;
      //grid-column-gap: 7.8%;
    }
  }

  .button {
    grid-area: button;
    margin-top: 40px;
  }

  .section-header {
    grid-area: features-header-start;
  }

  .headline-primary {
    grid-area: headline;
  }

  &__section-title {
    margin-top: 0;
  }

  &__icon-boxes {
    display: grid;
    grid-area: boxes;
    grid-template-columns: 1fr;

    > :nth-child(odd) {
      background-color: $cararra;
    }

    @include respond-to(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.875rem

      > .features__icon-box {
        background-color: transparent;
      }
    }
  }

  &__icon-box {
    display: grid;
    place-items: center;
    padding: 20px;
    text-align: center;
    @include respond-to(tab-port) {
      place-items: start;
      padding: 25px 41px 31px;
      text-align: left;
    }
  }

  &__subtitle {
    margin-bottom: 13px;
  }

  &__text {
    margin-top: 0;
    color: $section-features-text-color;
  }

  &__icon {
    position: relative;
    width: 51px;
    height: 43px;
    margin-bottom: 35px;
  }
}
*/

.features > .container {
  background-color: $features-background;

  @media (width >= 768px) {
    width: $features-width;
    padding-block-start: $features-padding-top;
    padding-block-end: $features-padding-bottom;
    padding-inline-start: $features-padding-left;
    padding-inline-end: $features-padding-right;
    border: $features-border;

    //	height: $features-height;
    border-radius: $features-border-radius;
  }

  //  margin-left:auto;
  //  margin-right: auto;

  .section-title > a {
    margin-bottom: $features-section-title-margin-bottom;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222222223;
    color: #f94d1c;
    text-decoration: none;
    letter-spacing: -0.01em;
  }

  .section-header {
    padding: 2px;
    margin-top: 0;
    margin-bottom: $features-section-headline-margin-bottom;
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #191919;
    letter-spacing: 0;
  }

  /*
  .button {
    order: 8;
    //			width:$features-button-width ;
    //			height:$button-height ;
    margin: $button-margin;
    padding: $button-padding;
    border-radius: $button-border-radius;
    white-space: nowrap;
  }
  .button-primary {
    background-color: $button-primary-background-color;
    color: #191919;
    text-decoration: none;
    //				border-color:$button-border-color ;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    line-height: $button-line-height;
    letter-spacing: $button-letter-spacing;
  } */

  //	.features-boxes {
  //grid-column-start: span 1; // Placera boxarna i den andra kolumnen
  //grid-row-start: 2; // Placera boxarna i de två sista raderna
  //      display: grid; // Använda grid för att skapa en sex-ruta layout
  //       grid-template-columns: $feature-box-width $feature-box-width; // Definiera kolumnernas bredd
  //        grid-template-rows: $feature-box-height $feature-box-height $feature-box-height; // Definiera radernas höjd
  //        column-gap: $features-boxes-column-gap; // Definiera mellanrummet mellan kolumnerna

  //		width:$features-boxes-width ;
  //		height:$features-boxes-height ;
  //		padding:$features-boxes-padding ;

  .feature-box {

    //			margin-right:auto ;

    //			margin-left:auto ;

    //			text-align:center ;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    //            padding: 24px 40px 32.2px;
    width: $feature-box-width;
    margin-bottom: 2.5rem;

    //			height:$feature-box-height ;

    .feature-box-title {
      margin-bottom: 0;
      font-family: 'DM Sans', sans-serif;

      //        font-size: 22px;
      font-size: 1.375rem;
      font-weight: 700;
      letter-spacing: 0;

      //        line-height: 2rem;

      //margin-bottom:$feature-box-title-margin-bottom ;
    }

    .feature-box-icon {
      width: $feature-box-icon-width;
      height: $feature-box-icon-height;
      margin-bottom: $feature-box-icon-margin-bottom;
    }

    .feature-box-text {
      font-family: Inter, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5625;
      color: rgb(25 25 25 / 70%);
      letter-spacing: -0.01em;

      //  margin-bottom:$feature-box-title-margin-bottom ;
    }

    //			align-items:center ;

    //			justify-content:center ;
  }
}

//}

.features {
  .container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(1, 1fr);
  }

  @media (width >= 768px) {
    .container {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr auto auto;
      align-items: stretch;
      justify-items: left;
    }

    .section-title {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    .section-header {
      grid-row: 2 / span 4;
      grid-column: 1 / span 1;
    }

    .button-primary {
      grid-row: 4 / span 1;
      grid-column: 1 / span 1;
    }

    .feature-box:nth-child(4) {
      grid-row: 1 / span 3;
      grid-column: 2 / span 1;
      margin-inline-start: 10rem;
    }

    .feature-box:nth-child(5) {
      grid-row: 4 / span 3;
      grid-column: 2 / span 1;
      margin-inline-start: 10rem;
    }

    .feature-box:nth-child(6) {
      grid-row: 1 / span 3;
      grid-column: 3 / span 1;
    }

    .feature-box:nth-child(7) {
      grid-row: 4 / span 3;
      grid-column: 3 / span 1;
    }
  }

  .feature-box:hover {
    .icon.--with-stars::after {
      background-color: #f9d783;
    }

    .icon.--idea {
      &::before {
        background-color: #f9d783;
      }

      &::after {
        background-color: $pomegranate;
      }
    }
  }

  .feature-box-icon {
    //    margin-bottom: 41px;
    position: relative;
    align-self: stretch;
  }

  .feature-box-icon > .icon {
    /*  position: relative;
  width: 51px;
  height: 43px;
*/
    position: absolute;
    width: 100%;
    height: 50px;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background-color: hsl(0deg 0% 10%);
    }

    &.--handshake::before {
      clip-path: path(
        'M32.484 14.673c-4.22 3.183-4.182 3.151-4.297 3.581-.051.191-.16.272-.541.405-.762.266-1.503.176-3.315-.403-.839-.268-1.74-.532-2.002-.586-.633-.132-1.272-.042-1.937.273-.532.251-.556.254-.997.133-.797-.219-1.067-.232-1.991-.093a50.646 50.646 0 0 1-4.41.443l-1.138.058-.112-.263c-.081-.191-1.075-.989-3.608-2.898-3.083-2.325-3.532-2.635-3.811-2.635-.355 0-.741.195-.905.458-.06.096-.855 3.348-1.766 7.226-1.789 7.617-1.747 7.359-1.28 7.777.107.095.943.583 1.857 1.083 1.946 1.064 2.182 1.116 2.729.598.297-.282.311-.286.249-.079-.036.12-.085.501-.109.846-.055.796.122 1.36.593 1.896.359.407 1.109.845 1.449.845.148 0 .209.067.256.285.23 1.069 1.277 2.004 2.389 2.136.399.047.426.069.665.525.505.964 1.457 1.486 2.549 1.397l.619-.05.277.392c.31.44.93.872 1.456 1.014.519.139 1.424.06 1.885-.165.216-.105.597-.37.845-.588.249-.218.492-.396.542-.396.049 0 .654.315 1.343.701 1.468.819 1.979.969 2.761.805.686-.143 1.391-.637 1.728-1.211l.262-.448.656-.04c1.108-.068 1.982-.662 2.377-1.615.181-.436.21-.463.617-.55 1.066-.229 1.814-.96 2.085-2.04.092-.364.13-.405.473-.5.875-.245 1.799-1.363 1.799-2.177 0-.291.082-.404.86-1.179l.86-.856.246.372.247.373-.298.253-.297.253.876-.032.876-.032 1.662-.907c1.813-.99 2.116-1.214 2.189-1.62.033-.181-.483-2.532-1.574-7.181-.893-3.802-1.669-7.026-1.725-7.164-.133-.326-.556-.58-.97-.58-.295 0-.631.227-3.194 2.16m3.958 6.396c.699 2.998 1.271 5.499 1.271 5.558 0 .129-1.475.954-1.585.886-.041-.025-.179-.232-.307-.458a12.853 12.853 0 0 0-.47-.761c-.746-1.092-4.731-7.507-4.708-7.577.015-.047 1.012-.83 2.215-1.74 1.802-1.365 2.197-1.63 2.249-1.507.035.082.635 2.602 1.335 5.599M7.282 17.27l2.164 1.636-.37.593c-2.245 3.599-5.194 8.237-5.237 8.238-.05.001-1.478-.767-1.55-.834-.017-.015.57-2.589 1.305-5.72.916-3.905 1.365-5.67 1.43-5.62l2.258 1.707m16.158 2.85c.752.237 1.617.495 1.923.573 1.023.261 2.463.153 3.446-.258l.31-.129 2.104 3.344 2.105 3.344-.755.7c-.415.385-.784.7-.821.7-.037 0-2.028-1.559-4.425-3.464-2.397-1.906-4.444-3.51-4.549-3.566-.311-.165-.701-.117-1.233.15-.276.138-.816.364-1.201.502-.617.222-.819.251-1.706.251-.721 0-1.093-.039-1.312-.136l-.305-.136 1.487-.773c.817-.425 1.815-.944 2.216-1.154.461-.239.845-.38 1.04-.38.171 0 .925.194 1.676.432m-7.721.207c-.96.615-1.236 1.035-1.174 1.786.06.728.384 1.123 1.293 1.58.901.452 1.691.629 2.818.631a7.734 7.734 0 0 0 2.944-.6l.586-.249 4.154 3.305c2.337 1.858 4.206 3.408 4.273 3.541.106.211.1.263-.052.468-.384.516-.412.501-4.14-2.124-2.171-1.529-3.526-2.429-3.712-2.464-.827-.155-1.479.796-1.045 1.524.166.277-.171.027 3.603 2.678 2.248 1.58 3.099 2.224 3.138 2.377.111.443-.44.866-.87.668-.105-.048-1.49-.991-3.078-2.094a450.364 450.364 0 0 0-3.003-2.077c-.063-.038-.245-.069-.403-.069-.814 0-1.337.795-.978 1.488.077.15 1.142.944 2.898 2.161 1.526 1.059 2.804 2.002 2.839 2.097.146.39-.238.821-.624.698-.108-.034-1.227-.765-2.485-1.624-2.807-1.917-3.235-2.177-3.577-2.177-.366 0-.783.273-.919.602-.145.348-.324.349-.4.001-.211-.958-.871-1.657-1.829-1.936-.408-.119-.436-.147-.611-.622-.263-.714-.727-1.22-1.424-1.553-.547-.261-.627-.275-1.307-.233l-.724.046-.234-.338c-.287-.414-.686-.726-1.237-.965-.343-.148-.549-.175-1.12-.145-.835.044-1.144.186-2.018.926-.614.519-.62.522-.825.367l-.206-.155 1.064-1.695c.586-.932 1.61-2.561 2.277-3.619l1.213-1.925 1.741-.108a70.905 70.905 0 0 0 2.442-.185c.385-.043.739-.081.787-.084.048-.004.014.04-.075.097M9.86 28.891c.224.21.261.492.093.697-.06.073-.532.496-1.049.941-.814.699-.977.804-1.216.78-.344-.034-.647-.4-.559-.675.033-.104.515-.581 1.072-1.061 1.091-.939 1.296-1.023 1.659-.682m3.4 1.424c.433.433.367.529-1.42 2.062-1.631 1.4-1.812 1.493-2.198 1.133a.646.646 0 0 1-.192-.429c0-.214.191-.417 1.291-1.377 1.784-1.557 1.845-1.603 2.089-1.603.118 0 .312.096.43.214m2.347 2.28c.183.183.256.452.166.612-.109.194-2.652 2.387-2.82 2.431-.38.099-.884-.4-.737-.729.043-.095.669-.682 1.391-1.305 1.074-.927 1.362-1.133 1.59-1.136.153-.003.338.054.41.127m2.331 2.318c.339.34.237.553-.635 1.318-.983.864-1.107.931-1.458.785-.289-.12-.403-.349-.318-.643.03-.105.437-.515.905-.91.915-.775 1.183-.873 1.506-.55m3.631.853c.944.646 1.143.82 1.166 1.021a.514.514 0 0 1-.522.576c-.141 0-.659-.232-1.212-.544l-.964-.544.066-.309a4.22 4.22 0 0 0 .066-.716c0-.483-.127-.53 1.4.516'
      );
    }

    &.--idea::before {
      clip-path: path(
        'M17.729 6.568c-.132.039-.317.14-.411.224-.358.318-.4.592-.4 2.593 0 2.124.046 2.359.52 2.649.338.206.662.216 1.049.033.51-.243.535-.368.535-2.756V7.167l-.214-.254c-.195-.231-.333-.307-.712-.389a.975.975 0 0 0-.367.044m-12.278 5.01c-.468.254-.622.934-.321 1.416.09.144.808.878 1.597 1.63l1.434 1.368h.416c.497 0 .868-.262 1.019-.719.171-.519.026-.734-1.585-2.336l-1.499-1.49-.415.003c-.229.002-.519.06-.646.128M28.06 12.85c-.811.772-1.529 1.509-1.595 1.637-.355.687.15 1.505.929 1.505.169 0 .391-.042.492-.094.362-.183 3.001-2.884 3.094-3.167.12-.364-.021-.79-.355-1.071-.197-.166-.347-.213-.672-.213h-.418L28.06 12.85m-11.311-.306c-4.371.443-8.228 3.33-9.88 7.397-.708 1.742-.981 4.132-.688 6.024a12.066 12.066 0 0 0 1.105 3.421c1.079 2.149 2.522 3.688 4.677 4.988.633.382.983.736 1.186 1.202.072.164.117 1.099.147 3.057.043 2.748.049 2.829.241 3.198.283.544.651.895 1.165 1.107.421.175.448.204.452.486.009.718.501 1.464 1.193 1.809.408.204.51.217 1.66.215 1.014-.001 1.283-.029 1.562-.158a2.301 2.301 0 0 0 1.278-1.779c.045-.375.074-.42.326-.504.498-.164 1.017-.635 1.272-1.154l.238-.485.042-2.778.042-2.777.258-.463c.231-.413.381-.544 1.389-1.21 2.841-1.877 4.655-4.495 5.304-7.654.198-.965.338-3.845.186-3.845-.046 0-.127-.261-.18-.579-.285-1.724-1.295-3.866-2.485-5.268-2.619-3.086-6.491-4.655-10.49-4.25m3.199 2.224c2.782.585 5.111 2.226 6.512 4.588a9.562 9.562 0 0 1 .599 8.598c-.292.696-1.086 1.978-1.486 2.398l-.249.262-1.068-.483c-.588-.266-1.447-.651-1.91-.855l-.841-.372-.026-.352c-.024-.32.01-.39.362-.754.98-1.015 1.466-2.327 1.471-3.971.002-.438.04-.589.205-.805.301-.395.414-.915.35-1.618-.114-1.277-.595-2.272-1.556-3.225-.723-.716-1.527-1.185-2.372-1.385-.734-.173-3.116-.174-3.847-.001-1.463.345-2.771 1.416-3.469 2.84-.404.825-.525 1.533-.489 2.871.027 1.018.036 1.061.289 1.419.192.273.276.507.32.889.116 1.031.628 2.138 1.365 2.952.444.491.559.81.388 1.075-.034.052-.923.474-1.976.936l-1.915.841-.469-.622c-1.518-2.018-2.205-4.535-1.882-6.905.303-2.235 1.183-4.017 2.761-5.593 1.574-1.572 3.542-2.556 5.692-2.846.789-.107 2.461-.046 3.241.118m.002 4.272c.882.433 1.627 1.396 1.742 2.251l.043.323-.724.06c-1.554.13-3.021-.27-4.002-1.089-.61-.51-1.153-.51-1.6-.001-.276.315-.35.804-.172 1.137.079.146.058.162-.214.162-.166 0-.414.058-.551.129l-.248.128v-.279c0-.821.509-1.871 1.159-2.392.762-.611 1.124-.7 2.755-.677 1.275.018 1.371.031 1.812.248m-2.497 4.231c.779.293 1.732.467 2.77.505.507.018.939.051.96.072.089.089-.143 1.264-.33 1.673-.248.541-.869 1.18-1.418 1.458a4.25 4.25 0 0 1-.987.306c-1.686.289-3.311-.937-3.588-2.708-.045-.282-.027-.307.403-.577.545-.342.752-.664.742-1.155l-.007-.366.464.297c.256.163.702.386.991.495M.779 23.228c-.332.079-.499.211-.658.518-.25.484-.064 1.133.4 1.39.144.08.768.109 2.401.111l2.207.003.297-.297c.26-.261.297-.35.297-.714 0-.523-.293-.895-.799-1.011-.402-.093-3.754-.093-4.145 0m30.258-.022c-.126.019-.343.148-.48.285-.461.461-.42 1.115.097 1.55l.248.209H35.337l.257-.216c.646-.544.414-1.576-.406-1.804-.285-.079-3.659-.099-4.151-.024m-13.025 6.21c.393 0 .871-.031 1.062-.068.333-.066.35-.06.407.167.032.13.189.417.348.639l.289.402-.2.076c-.719.273-2.431.339-3.326.128-.296-.069-.569-.146-.609-.171-.04-.025.054-.23.21-.455.155-.226.307-.509.337-.628.051-.205.075-.214.41-.154.196.036.678.064 1.072.064m-4.121 2.604c1.341.712 2.833 1.025 4.533.95 1.318-.059 2.404-.325 3.487-.856l.782-.382.437.184c.24.102.436.206.435.231-.001.026-.288.217-.638.425-1.167.695-2.017 1.832-2.234 2.988-.052.278-.107.553-.123.611-.022.081-.613.105-2.598.105h-2.57v-.232a3.704 3.704 0 0 0-.122-.683c-.302-1.135-1.014-2.049-2.141-2.746-.374-.232-.68-.445-.681-.474-.001-.044.706-.382.843-.403.025-.004.29.123.59.282m-5.626.496c-.306.108-2.886 2.536-3.143 2.957-.417.685.084 1.56.893 1.56.17 0 .391-.042.492-.093.102-.051.82-.723 1.596-1.494 1.586-1.574 1.714-1.783 1.433-2.347-.263-.53-.767-.761-1.271-.583m18.927-.048a1.011 1.011 0 0 0-.701 1.503c.081.143.8.891 1.596 1.661l1.449 1.401h.413c.486 0 .813-.213.995-.649.249-.595.142-.766-1.465-2.335-.807-.789-1.512-1.458-1.565-1.486-.165-.088-.508-.133-.722-.095m-6.655 6.074c0 .089-.112.273-.249.41-.443.444-.445 1.068-.003 1.491.277.265.325.5.119.579-.074.028-1.186.051-2.473.051-1.855 0-2.359-.023-2.433-.113-.052-.062-.069-.137-.039-.168.031-.03.849-.055 1.818-.055h1.762l.279-.28c.37-.37.45-.788.233-1.213-.285-.558-.5-.611-2.444-.611-1.459 0-1.705-.019-1.705-.127 0-.109.342-.126 2.568-.126 2.476 0 2.567.006 2.567.162m-1.81 4.72c0 .102-.135.126-.714.126-.62 0-.718-.02-.743-.151-.027-.137.038-.148.714-.126.594.02.743.05.743.151'
      );
    }

    &.--bars::before {
      clip-path: path(
        'M30.9 10.536c-1.079.079-2.036.431-2.959 1.089-.663.474-1.133 1.025-1.582 1.859-.5.926-.64 1.546-.637 2.824.002.939.031 1.159.236 1.759.569 1.669 1.865 3.017 3.431 3.567a5.632 5.632 0 0 0 4.678-.454c.645-.38 1.613-1.364 2.007-2.04.48-.826.672-1.52.722-2.617.055-1.193-.099-1.97-.586-2.961-.948-1.931-3.147-3.184-5.31-3.026m-1.006 2.995c-.469.471-.625.872-.625 1.611 0 .867.478 1.479 1.522 1.948.305.137.526.285.496.333-.11.178-.7.083-1.31-.209-.339-.163-.634-.269-.654-.236-.021.033-.086.521-.146 1.084l-.11 1.024-.366-.405c-1.588-1.754-1.069-4.586 1.034-5.64.492-.246.523-.251.548-.094.016.108-.123.317-.389.584m2.996-.432c.222.112.594.394.829.629 1.666 1.666 1.208 4.629-.877 5.673l-.526.264-.029-.238c-.016-.131.011-.252.06-.268.213-.071.543-.402.745-.745.42-.717.367-1.571-.139-2.26-.203-.276-.442-.449-.989-.713-.396-.192-.721-.39-.721-.439 0-.124.705-.021 1.04.152.145.075.311.118.37.096.061-.024.15-.348.207-.758.161-1.148.163-1.139-.308-1.28-.269-.081-.417-.176-.437-.281-.035-.189.141-.151.775.168m-2.956 6.146c.35.071.451.127.451.251 0 .209-.123.201-.655-.047-.427-.199-.771-.499-.411-.359a5.5 5.5 0 0 0 .615.155m-2.081 2.317c-.095.054-1.35 1.064-2.79 2.244a695.418 695.418 0 0 1-2.714 2.218c-.059.044-1.501-.529-3.706-1.474-1.985-.851-3.681-1.547-3.769-1.547-.088 0-.294.069-.457.153-.445.228-7.807 5.654-8.13 5.991-.221.231-.279.364-.279.64 0 .68.388 1.113.997 1.113.413 0 .094.216 4.711-3.184 1.7-1.251 3.134-2.301 3.188-2.334.054-.033 1.726.636 3.717 1.485 1.991.849 3.723 1.544 3.851 1.544.127-.001.354-.076.504-.167.438-.267 5.973-4.798 6.194-5.07.397-.49.223-1.319-.338-1.607-.258-.133-.752-.135-.979-.005m.409 2.683c-.152.067-.355.25-.45.406-.17.279-.173.413-.173 8.502l-.001 8.219h-.853l-.024-5.386-.024-5.386-.197-.276a.988.988 0 0 0-.515-.365c-.186-.051-1.413-.088-2.96-.089-2.934 0-3.099.026-3.407.531-.169.277-.173.42-.174 5.632v5.348l-.45-.026-.451-.026-.043-5.837c-.032-4.356-.069-5.883-.147-6.019-.246-.429-.487-.461-3.428-.461-3.071 0-3.195.021-3.485.601-.138.276-.15.747-.15 6.029v5.73h-.854l-.023-4.17-.024-4.169-.321-.294-.32-.294H6.864c-3.243 0-3.293.008-3.548.546-.124.26-.14.774-.14 4.338v4.043l-1.18.001c-1.312.001-1.495.053-1.8.506-.227.336-.25.685-.068 1.037.29.56-1.352.516 18.91.516h18.399l.24-.241c.454-.453.418-1.152-.082-1.605-.165-.15-.346-.177-1.446-.214l-1.258-.043-.043-8.303-.043-8.303-.28-.28-.281-.281-2.852-.02c-2.314-.016-2.905.003-3.13.103m4.526 9.573v7.554h-3.004V26.265h3.004v7.553M16.48 36.265v5.107h-3.004V31.157h3.004v5.108m8.154.431v4.68l-1.523-.024-1.524-.023-.022-4.549c-.012-2.502-.004-4.598.019-4.657.03-.08.421-.107 1.545-.107h1.505v4.68M8.305 37.96l.023 3.412H5.322v-6.871l1.48.023 1.481.024.022 3.412'
      );
    }

    &.--risk::before {
      clip-path: path(
        'M14.79 8.588c-.446.112-.199-.026-7.131 3.978-6.926 4-7.006 4.055-7.416 5.073l-.201.499v15.739l.23.491c.325.694.655 1.077 1.262 1.467 1.159.743 12.428 7.22 12.894 7.41.435.177.598.199 1.263.168.889-.042.841-.021 3.373-1.478.926-.533 1.787-1.078 1.915-1.211.296-.311.311-.809.039-1.29-.187-.33-.198-.335-.657-.328-.435.007-.574.07-2.087.945-.892.516-1.638.938-1.657.938-.02 0-.036-3.248-.036-7.217v-7.217l5.737-3.325c3.156-1.829 5.958-3.45 6.228-3.603l.492-.278v4.727l-.274-.149c-.23-.126-.489-.15-1.62-.15-1.234 0-1.376.016-1.7.189-.414.221-.759.643-.877 1.071a.613.613 0 0 1-.366.439c-.265.126-.302.124-.652-.046-.477-.231-1.139-.238-1.564-.018-.433.225-1.918 1.748-2.076 2.129a1.914 1.914 0 0 0 .047 1.472c.164.338.167.387.052.677-.097.242-.185.325-.388.367-.703.144-1.228.802-1.319 1.654-.101.937.001 2.207.208 2.614.2.392.723.815 1.112.901.177.039.293.141.389.342.13.271.127.304-.047.653-.226.452-.242 1.126-.039 1.557.192.407 1.481 1.74 1.947 2.013.484.283 1.181.298 1.685.035.333-.173.359-.175.643-.04.225.108.316.218.382.463.112.415.536.894.963 1.088.278.126.561.154 1.603.155 1.149.002 1.3-.015 1.636-.187.44-.225.84-.698.919-1.088.044-.214.13-.314.366-.426.301-.143.318-.142.62.037.4.236 1.203.25 1.632.028.403-.208 1.872-1.7 2.047-2.078.197-.429.182-1.093-.036-1.52-.156-.306-.165-.383-.073-.661.082-.251.156-.325.365-.367.411-.082.866-.431 1.113-.853.203-.347.232-.495.267-1.37.045-1.117-.064-1.859-.33-2.247-.227-.332-.66-.632-1.015-.705-.215-.044-.296-.121-.392-.372-.111-.292-.106-.345.061-.68a1.84 1.84 0 0 0 .02-1.523c-.202-.433-1.721-1.931-2.13-2.1-.43-.179-1.01-.163-1.484.041-.372.16-.419.163-.71.041-.409-.171-.416-.38-.013-.38.401 0 .764-.201.924-.51.113-.22.128-.678.106-3.388l-.025-3.134-.275-.56c-.18-.365-.432-.7-.725-.966-.304-.274-2.451-1.564-6.601-3.965-3.383-1.957-6.369-3.658-6.635-3.78-.536-.245-1.431-.331-1.989-.191m7.159 5.464c3.297 1.91 5.994 3.499 5.994 3.531 0 .059-12.158 7.124-12.348 7.176-.103.028-12.475-7.085-12.479-7.174-.001-.038 10.856-6.356 11.908-6.929.546-.298.553-.295 6.925 3.396M8.3 22.962l6.219 3.604.021 7.221c.021 6.856.014 7.218-.126 7.164-.081-.031-2.812-1.597-6.068-3.481-4.173-2.413-5.974-3.499-6.102-3.677l-.182-.253-.022-7.091c-.013-3.9-.009-7.091.009-7.091.017 0 2.83 1.622 6.251 3.604m19.599 3.178c.229.598.582.887 1.525 1.248.905.347 1.275.368 1.808.102l.279-.139.442.436c.44.434.441.437.313.684-.071.137-.148.443-.172.681-.038.365.005.558.273 1.232.36.906.746 1.359 1.3 1.525l.336.101v.621c0 .516-.024.628-.147.667-.743.239-1.056.553-1.434 1.437-.378.886-.429 1.391-.194 1.922l.182.411-.416.416-.416.416-.346-.139c-.566-.227-1.134-.179-1.945.161-.816.344-1.198.669-1.397 1.192l-.14.367-.627-.025-.627-.024-.112-.326c-.178-.52-.572-.854-1.4-1.185-.851-.341-1.473-.39-1.965-.155l-.3.143-.426-.426-.426-.426.139-.269c.272-.526.26-.992-.046-1.776-.153-.393-.355-.832-.447-.976a1.826 1.826 0 0 0-.947-.696c-.234-.062-.24-.08-.264-.696l-.024-.632.344-.103c.515-.155.921-.619 1.261-1.443.341-.827.388-1.457.145-1.93l-.149-.291.447-.448.448-.448.291.15c.457.234 1.027.191 1.874-.141.849-.333 1.235-.658 1.45-1.22l.146-.383h1.217l.147.385m-1.912 2.227c-.624.155-1.362.605-1.935 1.178-1.004 1.004-1.398 2.182-1.234 3.691.149 1.375 1.142 2.714 2.486 3.355.621.295.72.317 1.606.345.775.026 1.046 0 1.515-.143a4.391 4.391 0 0 0 2.897-2.895c.236-.778.193-2.138-.091-2.868-.403-1.036-1.465-2.099-2.503-2.504-.389-.152-.69-.196-1.458-.214-.532-.013-1.11.012-1.283.055m1.947 2.056c.45.159.859.474 1.138.876.65.939.501 2.267-.344 3.045-.657.606-1.419.789-2.267.545-.404-.116-.584-.232-.974-.631-.539-.552-.69-.931-.68-1.71.012-.906.652-1.816 1.485-2.112.454-.161 1.206-.167 1.642-.013'
      );
    }

    &.--with-stars::after {
      position: absolute;
      inset: 0;
      clip-path: path(
        'M16.193.157c-.117.129-.142.353-.142 1.245v1.087h-1.11c-1.099 0-1.111.002-1.289.228-.115.147-.16.292-.126.408.102.347.273.394 1.425.394h1.1v1.156c0 1.055.014 1.163.166 1.244.246.132.415.109.606-.082.154-.154.172-.286.172-1.245V3.519h1.054c1.196 0 1.435-.086 1.435-.515 0-.429-.239-.515-1.435-.515h-1.054V1.416c0-.958-.018-1.091-.172-1.244-.213-.214-.445-.22-.63-.015m21.973 3.004c-.116.129-.142.353-.142 1.245v1.087H36.97c-1.195 0-1.435.086-1.435.515 0 .429.24.515 1.435.515h1.054v1.103c0 .959.021 1.121.157 1.244.206.187.469.181.645-.014.117-.129.142-.353.142-1.245V6.523h1.054c1.196 0 1.435-.086 1.435-.515 0-.429-.239-.515-1.435-.515h-1.054V4.391c0-.959-.02-1.121-.157-1.245-.206-.186-.468-.18-.645.015m9.948 15.055c-.103.147-.133.429-.133 1.244v1.054h-1.073c-.959 0-1.091.018-1.245.172-.176.176-.217.399-.106.566.15.224.482.292 1.431.292h.993v1.057c0 1.141.05 1.297.443 1.392.168.041.276.008.408-.124.162-.162.179-.279.179-1.245v-1.066l1.123-.028c.993-.025 1.137-.048 1.244-.195.167-.229.153-.509-.035-.679-.129-.116-.353-.142-1.245-.142h-1.087V19.46c0-1.195-.086-1.435-.515-1.435a.455.455 0 0 0-.382.191'
      );
      content: '';
      background-color: hsl(0deg 0% 73%);
    }
  }
}
