<div class="strip testimonial panel container">
  <h2 class="section-title">Testimonial</h2>
  <div class="section-header">
    <h3>What Our Client Says</h3>
  </div>

  <div class="testimonial-container">
    <div class="box">
      <div class="stars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </div>
      <div class="quote">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero,
        ad
        dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
      </div>
      <div class="profile">
        <img alt="Face 1" class="object-fit-cover"
             src="/src/img/vince-veras-AJIqZDAUD7A-unsplash.jpg">
        <div>
          <div class="name">Cassandra Warren</div>
          <small class="job-title">Business Manager, Dorfus</small>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="stars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </div>
      <div class="quote">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero,
        ad
        dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
      </div>
      <div class="profile">
        <img alt="Face 2" class="object-fit-cover"
             src="/src/img/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg">
        <div>
          <div class="name">Amanda Tulling</div>
          <small class="job-title">Senior Developer, Square</small>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="stars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </div>
      <div class="quote">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero,
        ad
        dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
      </div>
      <div class="profile">
        <img alt="Face 3" class="object-fit-cover"
             src="/src/img/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg">
        <div>
          <div class="name">Jack McDogglas</div>
          <small class="job-title">Key Account Manager, Gobona</small>
        </div>
      </div>
    </div>
