<!doctype html>
<html class="no-js" lang="sv-se">

<head>
  <meta charset="utf-8">
  <title>Crito start-page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <meta content="" property="og:title">
  <meta content="" property="og:type">
  <meta content="" property="og:url">
  <meta content="" property="og:image">

  <link href="/src/favicon.ico" rel="icon" sizes="any">
  <link href="/src/icon.svg" rel="icon" type="image/svg+xml">
  <link href="/src/icon.png" rel="apple-touch-icon">
  <link href="/src/site.webmanifest" rel="manifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/src/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon-16x16.png">
  <link rel="manifest" href="/src/site.webmanifest">
  <link rel="mask-icon" href="/src/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/src/scss/main.scss">
</head>

<body>
<block name="header"></block>
<include src="layout/sidenav.html"></include>

<main>
  <block name="main"></block>
</main>
<include src="layout/footer.html"></include>

</body>

</html>
